<div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg nav-link">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="active()">
        <span class="navbar-toggler-icon"></span>
        Menu
      </button>
      <a href="/"><img src="assets/img/logo.png" width="100" height="30"></a>
      
      <a class="navbar-brand offset-md-1" *ngIf="logeado">Bienvenido {{userLoggeado.nombre}}</a>

      <div [ngClass]="navmenu == true ? 'classnavmenu' : '' " class="collapse navbar-collapse" id="navbarText" *ngIf="logeado">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/Articulos',userLoggeado.id]">Articulos</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/Cargos">Cargos</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <app-login *ngIf="!logeado" (enviar)="loggeo($event)"></app-login>