<app-header></app-header>

<div class="card text-white bg-dark mb-4 my-3">
    <div class="card-header">Articulos</div>
    <!-- <div class="card-body">
        <h5 class="card-title">Listado de articulos</h5>
    </div> -->
    <div>
        <button class="btn btn-rounded btn-success text-left my-1" type="button"
            [routerLink]="['/Articulos/form']">Crear Articulo</button>
            <div class="input-group input-group-sm mb-3 my-2">
                <input placeholder="Nombre de articulo" type="text" name="filtroNombre" class="form" [(ngModel)]="fNombre">
                <select name="userArt" id="userArt" [(ngModel)]="susers">
                    <option [value]="null">Todos</option>
                    <option [value]="usuarios.username" *ngFor="let usuarios of usuariosxArticulo"> {{usuarios.username}}</option>
                </select>

                <button class="btn btn-primary" (click)="filtrar()">Filtrar</button>
            </div>

    </div>
    <div class="alert alert-dark" *ngIf="articulos?.length == 0 ">
        No Hay Articulos!
    </div>

    <table class="table table-bordered table-striped table-sm table-dark" *ngIf="articulos?.length>0">
        <thead>
            <tr class="text-white text-center">
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Fecha de ingreso</th>
                <th scope="col">Usuario de ingreso</th>
                <th scope="col">Fecha de actualizacion</th>
                <th scope="col">Usuario de actualizacion</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let articulo of articulos">
                <td scope="row" class="text-center">{{articulo.id}}</td>
                <td scope="row">{{articulo.nombre}}</td>
                <td scope="row" class="text-center">{{articulo.producto}}</td>
                <td scope="row" class="text-center">{{articulo.cantidad}}</td>
                <td scope="row" class="text-center">{{articulo.fechaIng | date:'dd-MM-yyyy'}}</td>
                <td scope="row" class="text-center">{{articulo.usernameIng.nombre}}</td>
                <td scope="row" class="text-center">{{articulo.fechaAct | date:'dd-MM-yyyy'}}</td>
                <td scope="row" class="text-center">{{articulo.usernameAct.nombre}}</td>
                
                <td>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary"
                            [routerLink]="['/Articulos/form',articulo.id]">Editar</button>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-danger" (click)="delete(articulo)">Eliminar</button>
                    </div>
                </td>
            </tr>

        </tbody>

    </table>
</div>